@page {
    size: a4;
    margin: 1cm;
    background-color: #fff;
}

@page Section {
    background-color: #fc0;
}

@page Subsection {

}

@page :blank {
    content: "(Page intentionally left blank)";
}

.section {
    break-before: right;
    page: Section;
    break-after: page;
}

.subsection {
    break-before: page;
    page: Subsection;
    break-after: page;
}

a {
    display: block;
}

a::after {
    content: leader(".") target-counter(attr(href), page);
}